<!DOCTYPE html>

<html>
  <head>
    <title> TARCE FIRST LAB</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <center>
    <h1> WELCOME TO THE FIRST TARCE PROJECT! </h1>
  
    <p>Visit the User's Page and meet the developers</p> 
	<form action="https://calm-mesa-41641.herokuapp.com/users">
    	<input type="submit" value="User's Page" style="width:100px; height:50px"/>
    </form><br>
    
    <p>Visit our new View!</p>
    <form action="https://calm-mesa-41641.herokuapp.com/mivista">
    	<input type="submit" value="New View" style="width:100px; height:50px"/>
    </form><br>

    <p>Check our new League of Legends Champion's Tier List</p>
    <form action="https://calm-mesa-41641.herokuapp.com/tier">
    	<input type="submit" value="Tier List" style="width:100px; height:50px"/>
    </form>
  </center>

  </body>
</html>
