<!DOCTYPE html>

<html>
  <head>
    <title>Usuarios</title>
    <link rel='stylesheet' href='/stylesheets/styleuser.css' />
  </head>
  <body>
  
	<h2>Database Results</h2>
    

	
    <ul>
		
		<%results.forEach(function(r){ %>
			<%if(r.role == 'Top'){ %>
				<li><%= r.role %> - <%= r.name %> - <%= r.tier %> - <%= r.wrate %></li>
				<%}%>
			
		<% }); %>

	</ul>
	
	
  </body>
</html>
