<!DOCTYPE html>

<html>
  <head>
    <title>Usuarios</title>
    <link rel='stylesheet' href='/stylesheets/styleuser.css' />
  </head>
  <body>
    <h1 align="center">Bienvenido a la vista de usuarios</h1>
	<br>
	<br>	
	<h2>&emsp;
	   <b>Alexis Díaz López</b>
	   &emsp;&emsp;&emsp;&emsp;
       <b>Fran Duque el Ayachi</b>
       &emsp;&emsp;&emsp;
	   <b>Daniel Baute Trujillo</b>
	</h2>
	<p>
	<img src ="https://pbs.twimg.com/media/EUZBgOgWoAA-kX0.png" width="300" height="300" >
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<img src ="https://lolimpact.com/wp-content/uploads/2016/12/Braum_Splash_Tile_0.jpg" width="300" height="300" >
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<img src ="https://i.pinimg.com/736x/e8/43/e5/e843e5fee9f1f7dff57b1000a8a49b46.jpg" width="300" height="300">
	</p>
	
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<a href="https://github.com/dadialop">
		<button>Perfil de GitHub</button>
	</a>
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="https://github.com/FranDuqueAyachi">
		<button>Perfil de GitHub</button>
	</a>
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
   	<a href="https://github.com/DanielBaute">
		<button>Perfil de GitHub</button>
	</a>
    <br>
	<br>	
	<a href="https://sat-problema-1.herokuapp.com" >
		<button>Página principal</button>
	</a>
  </body>
</html>
