body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
	
	color: white;
}
h2 {
	font-size: 170%;
	color: white;
	
}

html {  

	background-color: #6C1D5D; 
	
}


a {
  color: #00B7FF;
}
